<div class="container">
  <div class="p-5">
    <div class="card p-5">
      <form #loginForm = "ngForm"(ngSubmit) = "login(loginForm)">
        <div class="mb-3">
          <input
            type="text"
            class="form-control p-3"
            ngModel
            name="userName"
            id="userName"
            placeholder="Enter your Username"
          />
        </div>
          <div class="mb-3">
           <input
            type="password"
            class="form-control p-3"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Enter your Password"
          />
        </div>

        <input type="submit"
        value="Login"
         class="btn btn-rounded btn-primary">
  </form>
  </div>
</div>

