<div *ngIf="user" class="card p-3">
  <h2>Edit User: </h2>
  <h2>{{ user.userName }}</h2>
  <form (ngSubmit)="updateUser()">
    <div class="row">
      <div class="col">
        <label for="userFirstName">First Name:</label>
        <input type="text" id="userFirstName" [(ngModel)]="user.userFirstName" name="userFirstName"
          class="form-control " required>
      </div>
      <div class="col">
        <label for="userLastName">Last Name:</label>
        <input type="text" id="userLastName" [(ngModel)]="user.userLastName" name="userLastName" class="form-control "
          required>
      </div>
    </div>
    <div class="m-3 ">
      <img [src]="imageSrc" alt="Uploaded Image" style="max-width: 200px;" />
    </div>
      <div >
        <input type="file" #input hidden (change)="onFileSelected($event)">
        <i class="btn btn-info" (click)="input.click()" *ngIf="!selectedFile" style="font-style: normal;">Change
          image</i>
        <i class="btn btn-info" (click)="uploadImage()" *ngIf="selectedFile" style="font-style: normal;">Submit
          image</i>

      </div>
      
    <input class="btn btn-primary  mt-3" type="submit" value="Save" />
  </form>
</div>